:root {
  --color-list: rgb(138, 138, 218);
  --color-table: rgb(143, 231, 143);
  --color-chart: rgb(210, 210, 126);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  padding: 20px;
  min-height: 100%;
  display: flex;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
}

.cell {
  height: 30px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
